{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  },
  "globals": {
    "fetch": false,
    "document": false,
    "requestAnimationFrame": false
  }
}
